.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    min-height: 80vh;
    padding-top: 70px;
  }
  
  .hero-section button.btn.btn-primary{
    margin-left: 0px;
  }
  .hero-content {
    padding-top: 80px;
    max-width: 50%;
    padding-bottom: 30px    ;
  }
  
  .hero-content h1 {
    font-size: 54px;
    line-height: 1.2;
}
  
  .hero-content .highlight {
    padding-left: 10px;
    color: #F9116C;
  }
  
  .hero-content p {
    margin-top: 1rem;
    margin-bottom   : 3rem;
    font-size: 18px;
    color: #fff;
  }
  
  .consultation-button {
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
  }
  
  .consultation-button:hover {
    background-color: #fff;
    color: #000;
  }
  
  .hero-video {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video-element {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
  }
  .mobile-hidden{
    display: none !important;
  }
 

  @media (max-width: 768px) {
    .hero-section {
      flex-direction: column;
      text-align: center;
    }
  
    .hero-content {
      max-width: 100%;
      margin-bottom: 2rem;
      margin-top: 2rem;

    }
  
    .video-element {
      max-width: 90%;
    }
    .hero-content {
      padding-bottom: 0px;
      margin-bottom: 0px;
    padding-top: 45px;
  }
    .hero-content h1 {
        /* font-size: 26px; */
        line-height: 1.2;
        text-align: left;
    }
    .hero-content h1 span{
      /* font-size: 34px;
      line-height: 1.2;
      text-align: left    ; */
      display: inline;
  }
    .hero-content p{
        font-size: 13px;
        text-align: left;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .hero-content .btn-wrapper .btn.btn-primary {
        min-width: 163px;
        font-size: 11px !important;
        padding: 5px 6px;
        min-height: 41px;
    }
    .dekstop-hidden{
      display: none !important;
    }
    .mobile-hidden{
      margin: 10px 0px;
      display: block !important;
    }

    .hero-video img {
      max-width: 75%;
      margin-bottom: 20px;
  }
  .hero-section{
    padding-bottom: 40px;
  }
  .col-lg-7.md-6.col-sm-6.col-xs-6.left-serv {
    padding: 0px;
}
    
  }
 
  @media (max-width:445px){
    .hero-content {
      padding-bottom: 0px;
      margin-bottom: 0px;
    padding-top: 45px;
  }
    .hero-content h1 {
        /* font-size: 26px; */
        line-height: 1.2;
        text-align: left;
    }
    .hero-content h1 span{
      /* font-size: 34px;
      line-height: 1.2;
      text-align: left    ; */
      display: inline;
  }
    .hero-content p{
        font-size: 13px;
        text-align: left;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .hero-content .btn-wrapper .btn.btn-primary {
        min-width: 163px;
        font-size: 11px !important;
        padding: 5px 6px;
        min-height: 41px;
    }
    .dekstop-hidden{
      display: none !important;
    }
    .mobile-hidden{
      margin: 10px 0px;
      display: block !important;
    }

    .hero-video img {
      max-width: 75%;
  }
  .hero-section{
    padding-bottom: 40px;
  }
  .col-lg-7.md-6.col-sm-6.col-xs-6.left-serv {
    padding: 0px;
}
  }