.audit-carousel .popup-container{
display: flex;
justify-content: flex-start;
}
@media (max-width:445px){

    .audit-carousel .popup-container {
        position: relative;
        display: flex;
        justify-content: flex-start;
        top: -33px;
    }
    .audit-carousel .popup-container .register-btn {
        position: relative;
        font-size: 12px !important;
        color: #fff !important;
        top: 15px;
    }

    .carousel .slider-wrapper {
        padding-top: 0px;
    }

}