.join-wrapper h2{
    font-family: Arvo-Bold;
font-size: 54px;
font-weight: 700;
line-height: 71.22px;
text-align: center;
color: #fff;
}
.join-wrapper p{
    color: #fff;
font-family: Arvo-Regular;
font-size: 21px;
font-weight: 400;
line-height: 27.7px;
text-align: center;

}

.btn-section {
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 46%;
    margin: 0 auto;
}
.btn-section button a{
    color: #fff;
    text-decoration: none;
    color: #fff;
}
.btn-section button {
    color: #fff;
    margin: 4px 0px !important;
    border: none;
    font-family: 'Arvo-Regular';
    text-decoration: none;
    min-width: 233px;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    background-color: transparent;
    outline: none;
    gap: 0px 12px;
} 
.btn-section button img{
    max-width: 30px;
}
.secure-audit h2 {
    background: linear-gradient(272deg, #F96746 3.28%, #FFE500 56.57%, #C800C0 96.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Arvo-Bold";
    font-size: 60px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: 101.329%;
    text-transform: uppercase;
}
.secure-audit {
    padding: 40px 0px;
}
.telegram-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../assets/images/tele-bg.svg)no-repeat center center / contain;
}
.x-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px !important;
    background: url(../../assets/images/twitx.svg)no-repeat center center / 100%;
}

@media (max-width:768px) {
    .btn-section {
        max-width: 65%;
        margin: 0 auto;
    }
    .btn-section button{
        margin: 0px !important;
    }
    .btn-section button a {
        font-size: 13px;
        text-decoration: none;
        color: #fff;
    }
    /* .btn-section button {
        margin: 4px 10px !important;
        border: none;
        font-family: RobotoMono-Bold;
        text-decoration: none;
        min-width: 167px;
        min-height: 67px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 11px 15px;
        background-color: transparent;
        outline: none;
        gap: 0px 12px;
    } */
    .btn-section button img {
        max-width: 21px;
    }
    .join-wrapper h2 {
        padding: 0px 0px;
        font-family: 'Arvo-Bold';
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 800;
    }
    .secure-audit {
        padding: 20px 0px;
    }
    .join-wrapper p {
        color: #fff;
        font-family: Arvo-Regular;
        font-size: 12px;
    }  
}
@media (max-width:445px) {
    .btn-section {
        max-width: 100%;
        margin: 0 auto;
    }
    .btn-section button a {
        font-size: 13px;
        text-decoration: none;
        color: #fff;
    }
    .btn-section button {
        margin: 4px 0px !important;
        border: none;
        font-family: Arvo-Regular;
        text-decoration: none;
        min-width: 160px;
        min-height: 67px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 11px;
        background-color: transparent;
        outline: none;
        gap: 0px 7px;
    }
    .btn-section button img {
        max-width: 21px;
    }
    .join-wrapper h2 {
        padding: 0px 0px;
        font-family: 'Arvo-Bold';
        font-size: 26px;
        line-height: 32px;
        text-transform: uppercase;
        font-weight: 800;
    }

    .secure-audit {
        padding: 20px 0px;
    }
    .join-wrapper p {
        color: #fff;
        font-family: Arvo-Regular;
        font-size: 12px;
    }  
}