.sidebar-container{
    max-width: 20vw;
    min-width: 20vw;
    position: absolute;
    top: 0px;
}
.sidebar-wrapper{
    width: 100%;
    height: 100vh;
    box-shadow: -27.37px 27.37px 27.37px 0px #A5A5A51A inset;
box-shadow: 27.37px -27.37px 27.37px 0px #A5A5A51A inset;
backdrop-filter: blur(67.86933135986328px);
background-color:#000 !important;
}
.sidebar-wrapper.w-64.bg-gray-800.p-4.hidden.md\:block {
    width: 100%;
}
.sidebar-wrapper {
    border: 1px solid;
    width: 100%;
    height: 100vh;
    box-shadow: -27.37px 27.37px 27.37px 0px #A5A5A51A inset;
    box-shadow: 27.37px -27.37px 27.37px 0px #A5A5A51A inset;
    -webkit-backdrop-filter: blur(67.86933135986328px);
    backdrop-filter: blur(67.86933135986328px);
    background-color: #000 !important;
    border-radius: 15px;
}
.logout-btn {
    margin-bottom: 0px !important;
    margin-top: 121% !important;
    font-size: 24px;
    text-align: left;
}
.sidebar-wrapper ul li {
    display: flex
;
    align-items: center;
    gap: 10px;
}
.sidebar-wrapper ul li img{
max-width: 20px;
}
button.mt-8.w-full.p-2.logout-btn.text-white.rounded.cursor-pointer.hover\:bg-black-500 {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logout-btn img{
    max-width: 25px;
}


/* For desktop */
@media (min-width: 1025px) {
    .toggle-sidebar-btn {
      display: none; /* Hide toggle button */
    }
  
    .sidebar-container {
      position: fixed; /* Keep the sidebar fixed */
      display: block; /* Ensure sidebar is always visible */
    }
  
    .sidebar-wrapper {
      width: 20vw; /* Adjust the width for desktop */
    }
  }
  

  

@media(max-width:1024px){
    button.toggle-sidebar-btn.p-2.bg-pink-600.text-white.rounded {
        top: 18px;
        right: 16px;
        position: absolute;
        z-index: 99;
    }
    .sidebar-container {
        max-width: 30vw;
        min-width: 20vw;
        position: absolute;
        top: 0px;
        z-index: 9999;
    }


    .sidebar-wrapper h2{
        font-size: 20px;
    }
    .toggle-sidebar-btn {
        display: block !important; /* Show toggle button */
      }
    
      .sidebar-wrapper {
        display: none; /* Initially hide sidebar */
      }
    
      .sidebar-container.active .sidebar-wrapper {
        display: block !important; /* Show sidebar when active */
      }

}

