.sidebar-container{
    max-width: 20vw;
    min-width: 20vw;
    position: absolute;
    top: 0px;
}
.sidebar-wrapper{
    width: 100%;
    height: 100vh;
}
.sidebar-wrapper.w-64.bg-gray-800.p-4.hidden.md\:block {
    width: 100%;
}