/* Font */
.form-container .logo{
    max-width: 180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.form-container{
    width: 1000px;
    font-family: "Arvo-Bold";
    margin: 0 auto;
    background: url("../../../assets/images/Dashboard/bg-1.png") no-repeat center center / contain;
  }
  .form-container p {
    font-family: "Arvo-Bold";
  }
  /* Main container */
  .form-container .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .form-container 
  /* Form */
  .form {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    color: #fff;
  }
  
  /* Title and subtitle */
  .title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
  }
  
  .subtitle {
    text-align: center;
    font-size: 0.9rem;
    color: #aaa;
    margin-bottom: 20px;
  }
  
  /* Input group */
  .input-group {
    margin-bottom: 15px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.85rem;
    color: #aaa;
  }
  
  .input {

    width: 100%;
    padding: 10px;
    border-radius: 10px !important;
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
  }
  
  /* Forgot password */
  .forgot-password {
    display: inline;
    text-align: right !important;
    font-size: 1rem !important;
    color: #F9116C !important;
    margin-top: 17px !important;
    text-decoration: none;
    margin-left: 293px !important;}
  
  /* Button */
  .button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #444;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }

  @media (max-width:768px){

  }
  @media (max-width:426px){

  }
  