.audit-progress{
    width: 60%;
    margin-left: 20px;
    text-align: left;
}
.audit-edit-wrapper{
    display: flex;
    align-items: flex-start;
}
.dashboard-table-container     .portfolio-table-container {
    min-height: 664px !important;
}

.main-container .platform-widget{
    display:none;
}
.audit-edit-wrapper .dashboard-header{
    display: none;
}

@media (max-width:1024px){
    .layout-wrapper .audit-progress {
        min-height: 191px !important;
        width: 49%;
        padding: 17px 10px;
    }
    .sverity-form input {
        min-width: 123px !important;
        border: 0.5px solid #dcdcdc56 !important;
    }
    .sverity-form button {
        min-width: 123px !important;
    }
    
}


