.audit-progress{
    width: 60%;
    margin-left: 20px;
    text-align: left;
}
.audit-edit-wrapper {
    max-height: 400px;
    display: flex;
    align-items: flex-start;
}
.dashboard-table-container     .portfolio-table-container {
    min-height: 664px !important;
}

.audit-edit-wrapper .platform-widget{
    display:none;
}
.audit-edit-wrapper .dashboard-header{
    display: none;
}
.audit-edit-wrapper .addplatform.flex.flex-col.items-center.min-h-screen.text-white.p-6 {
    width: 50%;
}

.addportfolio-wrapper.flex.items-center.justify-center.min-h-screen.text-white img {
    max-width: 74px;
    max-height: 69px;
}
@media (max-width:1024px){
    .layout-wrapper .audit-progress {
        min-height: 191px !important;
        width: 49%;
        padding: 17px 10px;
    }
    .sverity-form input {
        min-width: 123px !important;
        border: 0.5px solid #dcdcdc56 !important;
    }
    .sverity-form button {
        min-width: 123px !important;
    }
    
}


@media (max-width:425px){
    .flex.items-center.justify-between.p-4.header-wrap {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px 0px;
    }
    .audit-edit-wrapper{
        flex-direction: column;
    }
    .layout-wrapper .audit-progress{
        width: 100%;
        min-height: 185px !important;
    }
    .sidebar-wrapper ul li {
        font-size: 11px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 4px 5px !important;
    }
    .sidebar-wrapper h2 {
        font-size: 13px;
    }
    button.toggle-sidebar-btn.p-2.bg-pink-600.text-white.rounded {
        transform: scale(0.6);
    }
    .sidebar-wrapper h2 {
        font-size: 13px;
        margin-bottom: 15px;
    }
    .logout-btn {
        margin-bottom: 0px !important;
        margin-top: 147% !important;
        font-size: 17px;
        text-align: left;
    }
    .audit-wrap .title {
        font-size: 17px !important;
    }
    .audit-wrap {
        height: 138px;
        width: 50vw;
    }
    .audit-wrap .discription {
        margin-top: 13px;
        font-size: 50px !important;
    }
}