
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  max-width: 100%;
  /* overflow-x: hidden */
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family:"Arame-Bold" ;
  src: url("./assets/Fonts/Arame-Bold.ttf");
}

@font-face {
  font-family: 'Arame-Thin';
  src: url('./assets/Fonts/Arame-Thin.ttf')  ;
}

@font-face {
  font-family: 'RobotoMono-Regular';
  src: url('./assets/Fonts/RobotoMono-Regular.ttf')  ;
}

@font-face {
  font-family: 'RobotoMono-Bold';
  src: url('./assets/Fonts/RobotoMono-Bold.ttf')  ;
}

@font-face {
  font-family: 'RobotoMono-Italic';
  src: url('./assets/Fonts/RobotoMono-Italic.ttf')  ;
}



@font-face {
  font-family: 'Arvo-Regular';
  src: url('./assets/Fonts/Arvo-Regular.ttf')  ;
}

@font-face {
  font-family: 'Arvo-Bold';
  src: url('./assets/Fonts/Arvo-Bold.ttf')  ;
}

@font-face {
  font-family: 'Arvo-Italic';
  src: url('./assets/Fonts/Arvo-Italic.ttf')  ;
}

.container-fluid{
  padding: 0px ;
}



.container{
  max-width: 1280px;
}
body{
  background-color: #000;
}
h1,h2,h3,h4,h5,h6{
  font-family: Arvo-Bold;
}
p{
  font-family: RobotoMono-Regular;

}
.btn-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-pink-600{
  background-color: #F9116C ;
}
.heading-h1{
  font-size: 40px;
  color: #F9116C;
  padding: 80px 0px;
  padding-bottom: 20px;
}
button.splide__arrow.splide__arrow--prev {
  display: none;
} 
button.splide__arrow.splide__arrow--next {
  display: none;
}
.case-study-wrapper{

  margin: 0 auto;
}
button.twit-x img {
  max-width: 23px !important;
}
.view-more button {
  padding: 4px 12px !important;
  font-size: 16px !important;
  line-height: 24px;
  font-family: 'RobotoMono-Regular' !important;
}
.service-hero img {
  max-width: 500px;
}
.service-hero {
  display: flex;
  min-height: 90vh;
  align-items: center;
}

.section-heading{
  font-size: 42px !important;
  color: #F9116C;
padding: 40px 0px;
}
.smart-contract-process .audit-process-card img {
  background: #000;
  max-width: 100px;
  border-radius: 15px;
  padding: 10px;
}
.smart-contract-process .audit-process-card:nth-child(1) img {
  background-color: #53A5F8;
}
.smart-contract-process .audit-process-card:nth-child(2) img {
  background-color: #FFA747;
}
.smart-contract-process .audit-process-card:nth-child(3) img {
  background-color: #fff;
}
.smart-contract-process .audit-process-card:nth-child(4) img {
  background-color: #FFE345;
}
.smart-contract-process .audit-process-card:nth-child(5) img {
  background-color: #FFD5A7;
}
.smart-contract-process .audit-process-card:nth-child(6) img {
  background-color: #F9116C;
}
header {
  position: relative;
  z-index: 9999999;
  background: #000;
}

.register-btn{
  margin-top: 0px;
  background-color: #f9116c !important;
gap: 0px;
border-radius:10px;
opacity: 1;
font-family: Arvo-Regular;
}

.desktop-menu  li span{
  color: #fff;
  font-size: 18px !important;
  font-family: Arvo-Regular !important;
}
.subsubmenu-wrapper li span{
  font-family: Roboto-Regular !important;
}
.logo-wrapper img{
  padding: 0px;
  width: 200px
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



button.telegram-fixed {
  position: fixed;
  bottom: 14px;
  right: 10px;  
  border-radius: 50%;
  padding: 10px;
  height: 50px;
  border: 1px solid #fff;
  width: 50px;
}
button.telegram-fixed:hover{
  box-shadow: 1px 1px 20px #fff;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.read-the-docs {
  color: #888;
}

.mobile-menu{
  display: none;
}

@media (max-width:768px) {
  .container, .container-sm {
    max-width: 700px;
}
.register-btn{
  margin-top: 0px;
  color: #f9116c !important;
}

}
@media (max-width:445px) {
  h1.text-center.py-5.pb-4.heading-h1 {
    padding-top: 0px !important;
    padding-bottom: 20px !important;
}

.section-heading {
  font-size: 38px !important;
}
.sub-heading-section {
  font-size: 18px;
}
.mobile-menu{
  display: block;
}
.desktop-menu{
  display: none !important;
}
.register-btn{
  color: #fff !important;
}

.mobilemenu-ul p {
  display: block;
  padding-left: 10px !important;
  width: 100%;
  margin-bottom: 10px;
  color: #f9116c !important;
}
.mob-menu-ul li:hover{
  color: #F9116C !important;
}
.main-mobile-wrapper span{
  padding: 10px 5px !important;
}
 .main-mobile-wrapper span:hover{
  color: #F9116C !important;
}
.mob-menu-ul {
  margin-left: 0px !important;
}
.mob-menu-ul li a{
  color: #fff !important;
}
.mob-menu-ul li a:hover{
  background-color: #F9116C !important;
}
.homepage-heading{
  font-size: 26px !important;
  margin-top: 30px !important;
  margin-bottom: 20px !important;
}
.case-study-wrapper .col-lg-6.md-6.col-sm-12 {
  padding: 0px;
}
.service-hero img {
  max-width: 100%;
}
.logo-wrapper img {
  padding: 0px;
  width: 154px;
}
.desktop-navigation{
  display: none;
}

.heading-h1 {
 
  color: #F9116C;
  padding: 0px;
  padding-bottom: 20px;
}

.hero-section {
  padding-top: 15px;
}
.why-sec-choose .heading-h1{
  padding: 0px;
  margin-top: 0px !important;
}
h1.text-center.heading-h1.testimonial-heading.homepage-heading {
  margin: 0px !important;
  padding-bottom: 0px;
}
.case-study-wrapper h1 {
  padding-bottom: 30px !important;
}
}
.row {
  margin: 0 auto;
}  




