
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  max-width: 100%;
  /* overflow-x: hidden */
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family:"Arame-Bold" ;
  src: url("./assets/Fonts/Arame-Bold.ttf");
}

@font-face {
  font-family: 'Arame-Thin';
  src: url('./assets/Fonts/Arame-Thin.ttf')  ;
}

@font-face {
  font-family: 'Arvo-Regular';
  src: url('./assets/Fonts/Arvo-Regular.ttf')  ;
}

@font-face {
  font-family: 'RobotoMono-Bold';
  src: url('./assets/Fonts/RobotoMono-Bold.ttf')  ;
}

@font-face {
  font-family: 'RobotoMono-Italic';
  src: url('./assets/Fonts/RobotoMono-Italic.ttf')  ;
}



@font-face {
  font-family: 'Arvo-Regular';
  src: url('./assets/Fonts/Arvo-Regular.ttf')  ;
}

@font-face {
  font-family: 'Arvo-Bold';
  src: url('./assets/Fonts/Arvo-Bold.ttf')  ;
}

@font-face {
  font-family: 'Arvo-Italic';
  src: url('./assets/Fonts/Arvo-Italic.ttf')  ;
}

.container-fluid{
  padding: 0px ;
}


.row {
  margin: 0 auto;
}  

.container{
  max-width: 1280px;
}
body{
  background-color: #000;
}
h1,h2,h3,h4,h5,h6{
  font-family: Arvo-Bold;
}
p{
  font-family: "Arvo-Regular" !important;
  font-size: 18px !important;
font-weight: 400;
}
.btn-wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn-wrapper .btn-primary {
  padding: 12px 13px !important;
}

.bg-pink-600{
  background-color: #F9116C ;
}
.heading-h1{
  font-size: 40px;
  color: #F9116C;
  padding: 80px 0px;
  padding-bottom: 40px;
}
button.splide__arrow.splide__arrow--prev {
  display: none;
} 
button.splide__arrow.splide__arrow--next {
  display: none;
}
.case-study-wrapper{

  margin: 0 auto;
}
button.twit-x img {
  max-width: 17px !important;
}
.view-more button {
  padding: 4px 12px !important;
  font-size: 16px !important;
  line-height: 24px;
  font-family: 'Arvo-Regular' !important;
}
.service-hero img {
  max-width: 500px;
}
.service-hero {
  display: flex;
  min-height: 90vh;
  align-items: center;
}
.about-success .section-heading{
  padding-top: 60px;
}

.section-heading {
  font-size: 40px !important;
  color: #F9116C;
  padding: 80px 0px 40px;
}
.smart-contract-process .audit-process-card img {
  background: #000;
  max-width: 100px;
  border-radius: 15px;
  padding: 10px;
}
.smart-contract-process .audit-process-card:nth-child(1) img {
  background-color: #53A5F8;
}
.smart-contract-process .audit-process-card:nth-child(2) img {
  background-color: #FFA747;
}
.smart-contract-process .audit-process-card:nth-child(3) img {
  background-color: #fff;
}
.smart-contract-process .audit-process-card:nth-child(4) img {
  background-color: #FFE345;
}
.smart-contract-process .audit-process-card:nth-child(5) img {
  background-color: #FFD5A7;
}
.smart-contract-process .audit-process-card:nth-child(6) img {
  background-color: #F9116C;
}
header {
  position: relative;
  z-index: 9999999;
  background: #000;
}

.register-btn{
  margin-top: 0px;
  background-color: #f9116c !important;
gap: 0px;
border-radius:10px;
opacity: 1;
font-family: Arvo-Regular;
text-transform: uppercase;
}

.desktop-menu  li span{
  color: #fff;
  font-size: 18px !important;
  font-family: Arvo-Regular !important;
}
.subsubmenu-wrapper li span{
  font-family: Roboto-Regular !important;
}
/* .logo-wrapper img {
  min-width: 102px;
  padding: 0px;
  max-width: 120px;
  width: 100px;

} */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.telegram-message-box{
  max-width: 300px;
  position: fixed;
  bottom: 20px;
  right: 79px;
  background-color: rgb(241, 241, 241);
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
  z-index: 1000;
}
.telegram-message-box p{
  font-size: 12px !important;
}


@keyframes revealAnimation {
  0% {
    opacity: 0;
    transform: translateX(50px); /* Start from the right */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Move to the normal position */
  }
}

.reveal {
  opacity: 0; /* Hidden initially */
  animation: revealAnimation 1s ease-out forwards;
}

button.telegram-fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5px;
  right: 79px;
  border-radius: 50%;
  padding: 10px;
  height: 50px;
  border: 1px solid #fff;
  width: 50px;
  z-index: 99999;
}

button.telegram-fixed img {
  margin: 0 auto;
  max-width: 30px;
  max-height: 30px;
  position: relative;
  left: -2px;
}

button.telegram-fixed:hover{
  box-shadow: 1px 1px 20px #fff;
}

.services-wrapper h1 {
  padding-bottom: 0px;
}

button.telegram-fixed {
  border: 2px solid #2aabee ! IMPORTANT;
}
.popup-form h3 {
  margin-top: 0px;
  text-align: center;
  font-size: 23px;
  padding-bottom: 8px;
  padding-top: 7px;
}

p.sub-item-name {
  font-size: 14px !important;
}

img.btn-icon {
  transform: scale(0.7);
}

.engagementmodel .cta-wrapper {
  padding: 80px 20px !important;
}
.engagementmodel .cta-wrapper .close-popup-btn{
  margin-top: 0px !important;
}
.cta-wrapper .close-popup-btn{
  margin-top: 0px !important;
}
.engagementmodel .cta-wrapper h2{
  padding: 0px 0px;
}
.engagementmodel .cta-wrapper button.btn.btn-primary{
  margin-top: 20px !important;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.read-the-docs {
  color: #888;
}

.mobile-menu{
  display: none;
}
@media (max-width:768px){
  .desktop-menu {
    display: none !important;
}
.lg\:hidden.xl\:hidden.mobile-menu {
  display: block !important;
  background-color: #000;
}

}

@media (max-width:768px) {
  .container, .container-sm {
    max-width: 700px;
}
.register-btn{
  margin-top: 0px;
  color: #fff !important;
}
.hero-content h1 {
  text-align: left;
  font-size: 40px;
  line-height: 1.2;
}
.hero-content{
  margin-top: 0px;
}
.hero-content .highlight {
  padding-left: 0px;
  color: #F9116C;
}

.hero-content p {
  text-align: left;
    margin-top: 1rem;
}
.homapage-prtfolio .portfolio-table-container{
border: none !important;
}
.audit-container {
  margin: 0px 1px;
}
.audit-container .audit-content {
  display: flex;
  max-width: 356px;
}
.audit-container .audit-content {
  margin: 0 auto;
}
.step h3 {
  letter-spacing: 1px;
  font-size: 20px;
  text-align: left;
}
.audit-content p {
  font-size: 16px !important;
}
.steps::before{
  max-height: 430px;
}

.why-choose-us .card p {
  font-size: 20px !important;
}
.testimonial-slider .swiper-slide p{
  font-size: 14px !important;
}

.logo-wrapper .heading-h1 {
  font-size: 40px;
  color: #F9116C;
  padding: 80px 0px;
  padding-bottom: 0px;
}
.portfolio-container .btn-primary {
  padding: 8px 19px !important;
  margin-top: 40px !important;
}
.heading-h1 {
  font-size: 40px;
  color: #F9116C;
  padding: 60px 0px;
  padding-bottom: 20px;
}
.why-choose-us .cards-container .card {
  min-height: 148px;
}
.audit-process{
  padding-bottom: 0px !important;
}
h1.text-center.heading-h1.testimonial-heading.homepage-heading {
  padding: 40px 0px 0px !important;
}
.case-study-wrapper h1 {
  padding-bottom: 40px !important;
}
h2.portfolio-title.homepage-heading {
  padding: 25px 0px 28px;
}

p {
  font-family: "Arvo-Regular" !important;
  font-size: 16px !important;
  font-weight: 400;
}
.section-heading {
  font-size: 32px !important;
  color: #F9116C;
  padding: 40px 0px 20px;
}
.por-cta {
  padding-top: 40px;
}

}
@media (max-width:445px) {

  p {
    font-family: "Arvo-Regular" !important;
    font-size: 14px !important;
    font-weight: 400;
}
.why-choose-us .card p {
  font-size: 26px !important;
}

  h1.text-center.py-5.pb-4.heading-h1 {
    padding-top: 0px !important;
    padding-bottom: 20px !important;
}

.section-heading {
  font-size: 32px !important;
}
.sub-heading-section {
  font-size: 18px;
}
.mobile-menu{
  display: block;
}
.desktop-menu{
  display: none !important;
}
.register-btn{
  color: #fff !important;
}

.mobilemenu-ul p {
  display: block;
  width: 100%;
  padding-bottom: 0px !important;
  margin-bottom: 0px;
  color: #f9116c !important;
}
.mob-menu-ul li:hover{
  color: #F9116C !important;
}
.main-mobile-wrapper span {
  text-transform: capitalize;
  justify-content: space-between;
  padding: 5px 5px !important;
  width: 100%;
  font-family: "Arvo-Regular" !important;
}


 .main-mobile-wrapper span:hover{
  color: #F9116C !important;
}
.mob-menu-ul {
  margin-left: 0px !important;
}
.mob-menu-ul li a{
  color: #fff !important;
}
.mob-menu-ul li a:hover{
  background: none !important;
}
.homepage-heading {
  flex-direction: column;
  display: flex;
  font-size: 32px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.highlight{
  padding-left: 0px !important;
}
.case-study-wrapper .col-lg-6.md-6.col-sm-12 {
  padding: 0px;
}
.service-hero img {
  max-width: 70%;
}
.logo-wrapper img {
  padding: 0px;
  width: 154px;
}
.desktop-navigation{
  display: none;
}

.heading-h1 {
  color: #F9116C;
  padding: 15px 0px;
  padding-bottom: 20px;
}

.hero-section {
  padding-top: 15px;
}
.why-sec-choose .heading-h1{
  padding: 0px;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-top: 0px !important;
}
h1.text-center.heading-h1.testimonial-heading.homepage-heading {
  margin: 0px !important;
  padding-bottom: 0px;
}
.case-study-wrapper h1 {
  padding-top: 40px;
  padding-bottom: 20px !important;
}

.col-lg-7.md-6.col-sm-8.col-xs-8.left-serv {
  padding: 0px;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
  top: 95% ;
}

.footer .container .row{
  justify-content: center;
}
.audit-content .audit-progress {
  min-width: 100%;
  min-height: 202px;
  margin: 0px !important;
  padding: 19px 14px 0px 1px;
  border: none;
  background: url("./assets/images/mobile-severty.svg") no-repeat center center / contain ;
}
.por-cta {
  padding-top: 40px;
}

.audit-content {
  padding-top: 40px;
}

.why-choose-us .cards-container .card {
  margin-top: 0px !important;
  min-width: 343px;
  margin: 0 auto;
  min-height: 215px;
}
.audit-content p {
  max-width: 100%;
  line-height: 24px;
  font-size: 16px !important;
}
.por-cta .secure-audit h2 {
  font-size: 30px !important;
  line-height: 40px
}
.audit-slide p {
  font-size: 16px !important;
  line-height: 17px;
}
header {
  padding: 0px 0px;
}
.testimonial-slider .swiper-slide {
  min-height: 467px;
}
.testimonial-slider .swiper-slide p {
  font-size: 16px !important;
}

}




