.featured-audit-container {
  color: white;
  text-align: center;
}

.featured-audit-title {
  font-size: 2rem;
  color: #ff007f;
  margin-bottom: 20px;
}

.featured-audit-grid {



  margin-bottom: 30px;
  display: flex;
  gap: 20px;
  justify-content: space-between; /* Ensures proper spacing */
}
.featured-card.stader-card p{
  font-size: 14px;
}

.featured-card {
  border: 1px solid #f9116ebe;

  border-radius: 10px;
  padding: 20px;
  text-align: left;
  position: relative;
  flex: 1 1 calc(50% - 20px); /* Two cards per row with spacing */
  max-width: calc(50% - 20px);
}

.stader-card img {
  width: 60px;
  margin-bottom: 25px;
}

.case-study-card {
  min-height: 244px;
  background: url("../../assets/images/services-main/case-bg.svg") no-repeat center center / contain;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
  color: black;
  font-weight: bold;
  border: none;

}

.case-study-card h3 span {
  color: #ff007f;
}

.case-study-card .arrow-icon {
  width: 25px;
}


.talk-card {
  flex-direction: column;
  display: flex;
  gap: 20px 0px;
  justify-content: center;
  align-items: center;
  background-color: #FFD5A7;
  color: black;
}

.talk-card h3 span {
  color: #ff007f;
}

.request-audit-btn {
  background: url('../../assets/images/arrow.svg');
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.request-audit-btn span {
  margin-left: 10px;
}

.testimonial-card .testimonial-header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.testimonial-card .profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.testimonial-card blockquote {
  font-style: italic;
  color: #ccc;
}

.case-study-card h3 {
  font-family: Arvo-Regular;
  display: flex;
  gap: 20px 0px;
  text-align: center;
  flex-direction: column;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}

.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  right: 10px;
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #ff007f;
}

.arrow-btn span {
  margin-top: -6px;
  font-size: 25px;
  color: #fff;
}
.featured-card.stader-card {
  min-width: 60%;
}
.featured-card.stader-card img {
  width: 135px;
}
.featured-card.case-study-card {
  min-width: 35%;
}
.featured-card.talk-card {
  min-width: 35%;
  max-width: 35%;
}

.featured-card.testimonial-card {
  min-width: 63%;
  max-width: 63%;
  min-height: 244px;
}
.featured-card.talk-card h3 {
  font-size: 40px;
  text-align: center;
}
.featured-card.talk-card .btn-primary{
  background: url("../../assets/images/services-main/button-bg.svg") no-repeat center center / contain !important; 
  color: #000 !important;
}
.audit-flex-sec {
  display: flex;

  justify-content: space-between;
}
.featured-card.talk-card .btn-primary svg path{
  fill: #000 !important;
}
@media(max-width:425px){
  .case-study-card h3 {
    gap: 10px 0px;
    font-size: 22px;
  }
  .arrow-btn {
    bottom: 8px;
    right: 9px;
    height: 24px;
    width: 24px;
}
  .arrow-btn span {
    margin-top: -3px;
    font-size: 17px;
  }
  .audit-flex-sec {
    flex-direction: column;
  }
  .audit-process-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featured-card.stader-card {
  min-width: 100%;
}
.featured-audit-grid {
  flex-direction: column;
}
.featured-card.talk-card button.btn.btn-primary {
  font-size: 11px;
}
.featured-card.talk-card {
  background: url("../../assets/images/services-main/talk-bg.svg") no-repeat center center / contain;
  position: relative;
  min-width: 52%;
  max-width: 49%;
  right: -47%;
  top: -177px;
  min-height: 145px;
  padding: 9px 0px;
  border: none;
}
.featured-card.testimonial-card{
  position: relative;
  min-width: 100%;
  top: -100px;
}
.featured-card.talk-card h3 {
  font-size: 18px;
  text-align: center;
}
.case-study-card{
background:url("../../assets/images/services-main/case-mobile.svg") no-repeat center center/ contain;
padding: 50px 10px;
}
.featured-card.testimonial-card {
  position: relative;
  min-width: 100%;
  top: -160px;
}
.feature-wrapper {
  max-height: 800px;
  overflow: hidden;
}
.featured-card.case-study-card {
  padding: 42px 10px !important;
  min-width: 35%;
}
.why-sec-feature {
  padding: 0px 10px;
}
}

@media (max-width:375px){
  .featured-card.case-study-card {
    min-width: 35%;
    padding: 37px 10px !important;
}
.feature-wrapper {
  max-height: 908px;
  overflow: hidden;
}
}