.featured-audit-container {
  color: white;
  text-align: center;
}

.featured-audit-title {
  font-size: 2rem;
  color: #ff007f;
  margin-bottom: 20px;
  margin-top: 2rem;
}

.featured-audit-grid {



  margin-bottom: 30px;
  display: flex;
  gap: 20px;
  justify-content: space-between; /* Ensures proper spacing */
}
.featured-card.stader-card p {
  font-size: 17px;
  font-weight: 400;
  line-height: 32.97px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.featured-card {
  border: 1px solid #f9116ebe;
background-color: #FFFFFF1A;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  position: relative;
  flex: 1 1 calc(50% - 20px); /* Two cards per row with spacing */
  max-width: calc(50% - 20px);
}

.stader-card img {
  width: 60px;
  margin-bottom: 25px;
}

.case-study-card {
  min-height: 300px;
  background: url("../../assets/images/services-main/case-bg.svg") no-repeat center center / contain;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
  color: #fff;
  font-weight: bold;
  border: none;

}

.case-study-card h3 span {
  color: #ff007f;
}

.case-study-card .arrow-icon {
  width: 25px;
}


.talk-card {
  flex-direction: column;
  display: flex;
  gap: 20px 0px;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF1A;
  color: #fff;
}

.talk-card h3 span {
  color: #ff007f;
}

.request-audit-btn {
  background: url('../../assets/images/arrow.svg');
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.request-audit-btn span {
  margin-left: 10px;
}

.testimonial-card .testimonial-header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.testimonial-card .profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.testimonial-card blockquote {
  font-size: 18px;
  font-weight: 400;
  line-height: 32.97px;
  letter-spacing: -0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-family: 'RobotoMono-Regular';
  color: #ccc;
}

.case-study-card h3 {
  font-family: Arvo-Regular;
  display: flex;
  gap: 20px 0px;
  text-align: center;
  flex-direction: column;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}

.arrow-btn {
  display: flex
;
  justify-content: center;
  align-items: center;
  bottom: 6px;
  right: 16px;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #FFFFFF1A;
}

.arrow-btn span {
  margin-top: -6px;
  font-size: 25px;
  color: #F9116C;
}
.featured-card.stader-card {
  min-width: 60%;
}
.featured-card.stader-card img {
  width: 135px;
}
.featured-card.case-study-card {
  min-width: 35%;
}
.featured-card.talk-card {
  min-width: 35%;
  max-width: 35%;
}

.featured-card.testimonial-card {
  min-width: 63%;
  max-width: 63%;
  min-height: 244px;
}
.featured-card.talk-card h3 {
  font-size: 40px;
  text-align: center;
}
.featured-card.talk-card .btn-primary{
  background: url("../../assets/images/arrow.svg") no-repeat center center / contain !important; 
  color: #fff !important;
}
.audit-flex-sec {
  display: flex;
  justify-content: space-between;
}
.featured-card.talk-card .btn-primary svg path{
  fill: #fff !important;
}

@media ((min-width: 426px) and (max-width: 768px)) {
  .featured-audit-title {
    margin-top: 1.5rem;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    color: #ff4081; 
  }
  .case-study-card{
    min-height: 286px;
    padding: 0px;
  }
  .case-study-card h3 {
    gap: 10px 0px;
    font-size: 22px;
  
  }
  .arrow-btn {
    bottom: 8px;
    right: 9px;
    height: 50px;
    width: 50px;
}
  .arrow-btn span {
    margin-top: -3px;
    font-size: 30px;
  }
  .audit-flex-sec {
    flex-direction: column;
  }
  .audit-process-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featured-card.stader-card {
  min-width: 100%;
}
.featured-audit-grid {
  flex-direction: column;
}
.featured-card.talk-card button.btn.btn-primary {
  font-size: 11px;
  /* padding: 5px 6px !important; */
}
.featured-card.talk-card {
  background: url("../../assets/images/services-main/talk-bg.svg") no-repeat center center / contain;
  position: relative;
  min-width: 44%;
  max-width: 51%;
  right: -49%;
  top: -311px;
  min-height: 150px;
  padding: 51px 0px;
  border: none;


}
.talk-card{
  gap:0px;
}
.featured-card.testimonial-card{
  padding-top: 4rem;
  position: relative;
  min-width: 100%;
  top: -256px;
}
.featured-card.talk-card h3 {
  padding: 30px;
  font-size: 18px;
  text-align: center;
  /* margin-right: 10rem; */
}
.case-study-card{
background:url("../../assets/images/services-main/case-mobile.svg") no-repeat center center/ contain;
padding: 50px 10px;
}
.feature-wrapper {
  max-height: 800px;
  overflow: hidden;
}
.featured-card.case-study-card {
  padding: 42px 10px !important;
  min-width:162px;
}
.why-sec-feature {
  padding: 0px 10px;
}

}

@media(max-width:425px){
  .featured-audit-title {
    margin-top: 1.5rem;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    color: #ff4081; 
  }
  .case-study-card h3 {
    gap: 10px 0px;
    font-size: 22px;
  }
  .arrow-btn {
    bottom: 0px;
    right: -1px;
    height: 35px;
    width: 35px;
}
  .arrow-btn span {
    margin-top: -3px;
    font-size: 17px;
  }
  .audit-flex-sec {
    flex-direction: column;
  }
  .audit-process-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featured-card.stader-card {
  min-width: 100%;
}
.featured-audit-grid {
  flex-direction: column;
}
.featured-card.talk-card button.btn.btn-primary {
  font-size: 11px !important;
  padding: 0px 0px !important;
}
.featured-card.talk-card {
  background: url("../../assets/images/services-main/talk-bg.svg") no-repeat center center / contain;
  position: relative;
  min-width: -18%;
  max-width: 40%;
  right: -58%;
  top: -189px;
  min-height: 92px !important;
  padding: 22px 0px;
  border: none;

}
.featured-card.testimonial-card{
  position: relative;
  min-width: 100%;
  top: -100px;
}
.featured-card.talk-card h3 {
  font-size: 18px;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  padding: 10px 16px

}
.case-study-card{
background:url("../../assets/images/services-main/case-mobile.svg") no-repeat center center/ contain;
padding: 50px 10px;
}
.featured-card.testimonial-card {
  position: relative;
  min-width: 100%;
  top: -160px;
}
.feature-wrapper {
  max-height: 968px;
  overflow: hidden;
}
.featured-card.case-study-card {
  padding: 42px 10px !important;
  min-width: 35%;
}
.why-sec-feature {
  padding: 0px 10px;
}
}
@media(max-width:425px){
  .featured-audit-title {
    margin-top: 1.5rem;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    color: #ff4081; 
  }
  .case-study-card h3 {
    gap: 10px 0px;
    font-size: 22px;
  }
  .arrow-btn {
    bottom: 0px;
    right: -1px;
    height: 35px;
    width: 35px;
}
  .arrow-btn span {
    margin-top: -3px;
    font-size: 17px;
  }
  .audit-flex-sec {
    flex-direction: column;
  }
  .audit-process-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featured-card.stader-card {
  min-width: 100%;
}
.featured-audit-grid {
  flex-direction: column;
}
.featured-card.talk-card button.btn.btn-primary {
  font-size: 9px !important;
  padding: 5px 6px !important;
}
.featured-card.talk-card {
  background: url("../../assets/images/services-main/talk-bg.svg") no-repeat center center / contain;
  position: relative;
  min-width: -18%;
  max-width: 40%;
  right: -58%;
  top: -175px;
  min-height: 92px !important;
  padding: 0px 0px;
  border: none;

}
.featured-card.testimonial-card{
  position: relative;
  min-width: 100%;
  top: -100px;
}
.featured-card.talk-card h3 {
  font-size: 18px;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  padding: 10px 16px

}
.case-study-card{
background:url("../../assets/images/services-main/case-mobile.svg") no-repeat center center/ contain;
padding: 50px 10px;
}
.featured-card.testimonial-card {
  position: relative;
  min-width: 100%;
  top: -160px;
}
.feature-wrapper {
  max-height: 800px;
  overflow: hidden;
}
.featured-card.case-study-card {
  padding: 42px 10px !important;
  min-width: 35%;
}
.why-sec-feature {
  padding: 0px 10px;
}
}


@media (max-width:376px) {
  .arrow-btn{
   bottom: 5px;
   right: -8px;
   height: 35px;
   width: 35px;
  }
  .featured-card.talk-card {
   background: url("../../assets/images/services-main/talk-bg.svg") no-repeat center center / contain;
   position: relative;
   min-width: 41%;
   max-width: 17%;
   right: -56%;
   top: -175px;
   min-height: 84px !important;
   padding: 0px 0px;
   border: none;
 
 
 }

 .featured-card.talk-card button.btn.btn-primary {
  font-size: 9px !important;
  padding: 5px 6px !important;
}
}
