/* AuditSection.css */
.audit-section {
  padding: 40px 0px;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding-top: 100px;
  }
  .progress-bar{
    color: #fff;
  }
  .audit-progress h4{
    color: #fff;
  }
  .audit-section-title {
    font-size: 70px;
    margin-bottom: 20px;
  }
  
  .highlight {
    color: #F9116C;
  }
  .audit-section-description {
    max-width: 60%;
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    margin: 0 auto;
}
  
  .audit-content {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .audit-details {
    display: flex;
    min-height: 287px;
    width: 48.5%;
    text-align: left;
    background: url(../../assets/images/portfolio/card-sc-bg.png) no-repeat center center / contain;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 29px;
    flex-direction: column;
}
  .audit-progress {
    min-height: 290px;
    width: 45%;
    text-align: left;
    background: url(../../assets/images/portfolio/card-sc-2.png) no-repeat center center / contain;
    padding: 0px 29px;
      padding: 34px 0px;

  }
.dasaupro{
  margin-left: 20px;
  width: 65%;
}
  .audit-details h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .audit-details p {
    font-size: 16px;
    color: #ccc;
    margin-bottom: 20px;
  }
  
  .contact-btn {
    background-color: #F9116C;
    color: white;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-btn:hover {
    background-color: #ff3366;
  }

  
.audit-progress h4 {
  padding-left: 40px;
  font-size: 18px;
  margin-bottom: 10px;
}
@media (max-width:445px){
  .audit-section-description {
    max-width: 100%;
  }
  .audit-details h3 {
    font-size: 24px;
    margin-bottom: 6px;
}
.audit-details {
  display: flex;
  min-height: 180px;
  width: 100%;
  padding: 0px 21px;
  flex-direction: column;
}
.progress-bar {
padding-left: 12px;
position: relative;
align-items: center;
flex-direction: row;
margin-bottom: 5px;

}
.audit-progress h4 {
padding-left: 15px;
font-size: 18px;
margin-bottom: 4px;
}
.audit-progress {
min-height: 177px;
padding: 7px 8px;
}
.audit-progress .progress-bar::before {
top: 5px;
left: 16px;
}
.audit-content .audit-progress {
  max-width: 100%;
}
.audit-section-title {
  font-size: 22px !important;
  text-align: left;
}
}