.about-success h2{
    color:#F9116C; 
    font-size: 2rem;
    text-align: center;
}
.about-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    padding: 3rem;
}
.card{
    background: none;
    color: #fff;
    align-items: center;
    margin-top: 2rem;
}

.card img{
    width: 27vw;
} 
.card .content{
    margin-top: 1.5rem;
    text-align: center;
}