/* General Styles */
.popup-container {
    text-align: center;
  }
  

  
  .popup-overlay {
    position: fixed;
    top: 50px !important;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transform: translate(10px, 10px);
  }
  
  .popup-form {
    border: 2px solid #F9116C;
    background: #000;
    /* background: url('../../assets/images/portfolio/popup-bg.svg') no-repeat center center / contain #000000; */
    position: relative;
    padding: 15px 15px;
    border-radius: 13px;
    width: 941px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    color: white;
    max-width: 853px;
  }
  .cta-wrapper .popup-form{
    border: 2px solid #F9116C;
    position: relative;
    padding: 15px 17px;
    border-radius: 13px;
    width: 941px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    color: white;
    max-width: 957px;
  }

  .popup-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .form-group label {
    margin-bottom: 7px;
    font-family: 'Arvo-Bold';
}
  
  .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
gap: 10px;
}
.form-group label {
  width: 94%;
  text-align: left;
}

.form-group .input-block {
  text-align: left;
    display: flex;
    width: 50%;
    align-items: center;
    flex-direction: column;
}
.form-group input:focus-visible {
    outline: none;
    border: 1px solid #666 !important;
}
#timeline {
    width: 96%;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


  .form-group input, .form-group select {
    width: 100%;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
}
button.close-popup-btn img {
    position: relative;
    top: 0px;
}

.submit-btn {
    background: #F9116C;
    border: none;
    font-family: "Arvo-Bold";
    text-transform: capitalize;
    padding: 8px 30px;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
}
  
.close-popup-btn {
  display: flex;
  background: #F9116C;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: absolute;
  text-align: center;
  top: -9px;
  right: -13px;
  justify-content: center;
  align-items: center;
}

input[type="date"] {
  text-align: start; /* Ensures text is left-aligned */
  appearance: none; /* Removes default styling */
  -webkit-appearance: none; /* For Safari/iOS */
  padding: 0.5em; /* Adjust padding as needed */
  font-family: inherit; /* Ensure font consistency */
}

  @media (max-width:768px) {
    .form-group {
        flex-direction: column;
        margin-bottom: 13px;
    }
    .form-group .input-block {
      margin-bottom: 15px;
      width: 100%;
  }
  .popup-form {
    border: 2px solid #f9116c;
      background: #171717;
    max-width: 95%;
    left: -9px;
}
.form-group label {
  width: 100%;
  text-align: left;
}


.form-group input[type="date"]{
  width: 100% !important;
  display: flex;
  justify-content: flex-start !important;
  margin-left: 0px !important;
  min-width: 91vw;
}

    .popup-overlay {
        position: absolute;
        top: 250px;
    }
    .close-popup-btn{
        top: 7px;
        right: 6px;
    }
  }
  @media (max-width:445px) {
    .form-group {
        flex-direction: column;
        margin-bottom: 13px;
    }
    
    .form-group .input-block {
        width: 100%;
    }

    .popup-form {

        background: #171717;
      min-height: 73vh;
      top: -70px;
      left: 0px;
      z-index: 999999999;
  }
    .popup-overlay {
        position: absolute;
        top: 250px;
    }
    .close-popup-btn{
        top: 7px;
        right: 6px;
    }

    .form-group input, .form-group select {
      display: flex;
      text-align: left !important;
              width: 87vw;
              justify-content: flex-start;
              max-width: 101%;
  }

  .form-group input[type="date"]{
    width: 100% !important;
    display: flex;
    justify-content: flex-start !important;
    margin-left: 0px !important;
    min-width: 100%;
  }


  }