/* General Styles */
.popup-container {
    text-align: center;
  }
  

  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .popup-form {
    background: url('../../assets/images/portfolio/popup-bg.svg') no-repeat center center / contain , #000;
    position: relative;
    padding: 30px;
    border-radius: 13px;
    width: 941px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    color: white;
    max-width: 941px;
  }
  
  .popup-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .form-group label {
    margin-bottom: 7px;
    font-family: 'Arame-Bold';
}
  
  .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;

}
.form-group .input-block {
    display: flex;
    width: 50%;
    align-items: flex-start;
    flex-direction: column;
}
.form-group input:focus-visible {
    outline: none;
    border: 1px solid #666 !important;
}
#timeline {
    width: 96%;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
  .form-group input, .form-group select {
    width: 96%;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
}
button.close-popup-btn img {
    position: relative;
    top: -2px;
}

.submit-btn {
    background: #FFD5A7;
    border: none;
    font-family: "Arame-Bold";
    padding: 8px 30px;
    color: #F9116C;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
}
  
.close-popup-btn {
    background: #F9116C;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    text-align: center;
    top: -9px;
    right: -11px;
}
  @media (max-width:768px) {
    .form-group {
        flex-direction: column;
        margin-bottom: 13px;
    }
    .form-group .input-block {
      margin-bottom: 15px;
      width: 100%;
  }
    .popup-form {
        background: #000;
    }
    .popup-overlay {
        position: absolute;
        top: 250px;
    }
    .close-popup-btn{
        top: 7px;
        right: 6px;
    }
  }
  @media (max-width:445px) {
    .form-group {
        flex-direction: column;
        margin-bottom: 13px;
    }
    .form-group .input-block {
        width: 100%;
    }
    .popup-form {
        background: #000;
    }
    .popup-overlay {
        position: absolute;
        top: 250px;
    }
    .close-popup-btn{
        top: 7px;
        right: 6px;
    }
  }