.about{
    overflow-x: hidden;
}
.about-process .audit-process-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 46px;
}
.audit-process-card img {
    min-width: 100px;
    max-width: 250px;
    object-fit: contain;
}


.view-more-btn {
    background-color: transparent;
    margin-top: 20px;
    padding: 2px 13px !important;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  button.view-more-btn.btn.btn-primary {
    background-color: transparent;
    margin-top: 30px;
}

.about-process 
button.btn.btn-primary {
    margin: 30px auto;
    padding: 4px 10px !important;
    font-weight: 400;
}

.about-process .audit-process-title{
    font-size: 42px;
    margin-bottom: 40px;
}

.about-process .sub-heading-section{
    max-width: 100%;
    padding-bottom: 60px;
}