.about{
    overflow-x: hidden;
    padding-top: 100px;
}
.about-process .audit-process-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 46px;
}
.audit-process-card img {
    min-width: 100px;
    max-width: 250px;
    object-fit: contain;
}


.view-more-btn {
    background-color: transparent;
    margin-top: 20px;
    padding: 2px 13px !important;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  button.view-more-btn.btn.btn-primary {
    background-color: transparent;
    margin-top: 30px;
}

.about-process 
button.btn.btn-primary {

    margin: 30px auto;
    padding: 4px 10px !important;
    font-weight: 400;
}

.about-process .audit-process-title {
    font-size: 42px;
    margin-bottom: 0px;
}

.about-process .sub-heading-section{
    max-width: 100%;
    padding-bottom: 60px;
}
.about-audit-process .audit-process-card h5{
    display: none;
}

@media(max-width:768px){
    .about-process .audit-process-grid {
        display: flex;
        flex-direction: column;
        gap: 20px; /* Adjust the spacing between items */
    }

    .about-process .audit-process-title {
        font-size: 32px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 40px 0px 20px;
    }
    .about-success .section-heading {
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .about-card .card {
        min-width: 44%;
        max-width: 100%;
        width: 100%;
        margin-top: 2rem;
    }
    .about-card {
        /* padding: 1rem; */
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    .about-card .card .content {
        padding: 0px !important;
        margin-top: 1.5rem;
        text-align: center;
    }
    .about-card h3 {
        font-size: 18px;
    }
    .about-card .card p {
        font-size: 14px !important;
        font-family: "Arvo-Regular";
        font-weight: 400;
    }
    .about-process .audit-process-grid {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 20px 46px;
    }
    td {
        font-family: 'Arvo-Regular';
        font-size: 14px;
    }
 

}
