.otherweb3services{
    padding: 1rem;
}
.otherweb3services h2{
   color: #F9116C;
   font-size: 2.5rem;
   text-align: center;
}
.otherweb3services-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 3rem;
    color: #fff;

}
.otherweb3services-card{
    align-items: center;
    border: 1px solid #FFFFFF33;
    border-radius: 1rem;
    padding: 2rem;
}
.otherweb3services-card h3{
    font-size: 2rem;
    padding-bottom: 2rem;
}
.otherweb3services-card p{
    font-size: 1rem;
}
.svg{
    padding:2rem;
}