.otherweb3services{
    padding: 0 1rem;
}
.otherweb3services h2{
   color: #F9116C;
   font-size: 40px;
   text-align: center;
   padding: 80px 0px 40px;
}
.otherweb3services-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

    color: #fff;

}
.otherweb3services-card{
    background: #FFFFFF0D;
    align-items: center;
    border: 1px solid #FFFFFF33;
    border-radius: 1rem;
    padding: 2rem;
}
.otherweb3services-card h3{
    font-size: 2rem;
    padding-bottom: 2rem;
}
.otherweb3services-card p{
    font-size: 1rem;
}
.svg{
    padding:2rem;
}
.svg svg{
    max-width: 80%;
    margin: 0 auto;
}

.otherweb3services-card img {
    margin: 0 auto;
    width: 70%;
    padding-bottom: 20px;
}

@media (max-width:1441) {
    .otherweb3services-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;

        color: #fff;
    }
}
@media (max-width: 768px) {
    .otherweb3services{
        padding: 10px;
    }
    .otherweb3services h2{
            margin-top: 0px;
            font-size: 1.7rem;
            margin-bottom: 1rem;
            color: #ff4081; /* Pink color for the title */
            padding: 0px;
     }
    .otherweb3services-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 4px;
        margin: 2px;
    }
    .otherweb3services-card {
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
    }
    .otherweb3services-card h3 {
        text-align: left;
        font-size: 24px;
        padding-bottom: 4px;
    }
    .otherweb3services-card p{
        text-align: left;
        font-size: 16px !important;
    }
}
@media(max-width:445px){
    .otherweb3services-cards {
        grid-template-columns: 1fr;
    }
}