.audit-wrap{
    height: 200px;
    width: 50vw;

} 
.audit-wrap .title{
    font-size: 30px !important;
}
.audit-wrap .discription{
    margin-top: 20px;
    font-size: 60px !important;
}
@media (max-width:426px){
    .audit-wrap{
        height: 120px;
        width: 50vw;
        padding: 3px;
    
    } 
    .audit-status{
        padding-bottom: 0px !important;
    }
    .audit-wrap .title{
        font-size: 20px !important;
        margin-top: 10px;
    }
    .audit-wrap .discription{
        margin-top: 5px;
        font-size: 35px !important;
    }
}

@media (max-width:320px){
    .audit-wrap .discription{
        margin-top: 0px;
        font-size: 25px !important;
    }
    .audit-wrap .title{
        font-size: 16px !important;
        margin-top: 10px;
    }
}


