
/* src/style.css */

.splide {
    padding: 20px 0;

}

.splide__slide img {
    width: 100%;
    height: auto;
    max-height: 40px;
    max-width: 120px; /* Adjust based on your logo size */
    transition: transform 0.3s ease-in-out;
}

.splide__slide:hover img {
    transform: scale(1);
}
.splide__slide{
    padding: 14px 0px;
    margin: 10px;
    background:url(../../assets/images/sliderlogo/slider-bg.svg) no-repeat center center / contain;
    border-radius: 23px;
    background-color: #000;
    max-width: 190px ;
display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
z-index: 99999999;
position: relative;
}

ul.splide__pagination.splide__pagination--ltr {
    display: none;
}
.splide__slide:hover {
    box-shadow: 5px 5px 8px #f9116c;
}
.logo-wrapper {
    padding-top: 40px;
}
@media (max-width:430px) {
    .splide {
        padding: 0px 0;
    }
    .splide__slide{
        display: flex;
        padding: 15px 5px;
        margin: 7px;
        background-color: #D9D9D91A;
        border-radius: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
        transform: scale(0.8);
    }
}