.submit-btn{
    margin: 0 auto;
   
   }
   .addportfolio input , .addportfolio select{
   border: 1px solid grey !important;
   max-height: 80px !important;
   padding: 5px !important;
   background-color: #D9D9D91A;
   }
   
   #companyDescription, #errorDescription {
       padding: 4px !important;
       background-color: #D9D9D91A;
       width: 100%;
       font-size: 12px;
       height: 36px !important;
   }
   .addportfolio form {
       width: 80vw;
       background: #262626;
       min-width: 90%;
   }
   .addportfolio{
       padding-top: 50px;
   }
   .submitportfolio {
   padding: 8px 20px !important;
   max-width:max-content ;
   font-size: 12px;
   background-color: #F9116C;
   margin: 0 auto;
   font-size: 14px;
   display: flex;
   text-align: center;
   justify-content: center;
   }
   .addportfolio-wrapper{
       width: 100% !important;
   }
   
   .add-btn{
       background-color: #D9D9D91A;
   }
   