.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  justify-content: space-between;
  background: #333;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  min-height: 574px;
  width: 100%;
  max-width: 1115px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  position: relative;
  flex-direction: row;
}
button.close-btn img {
  margin-top: -5px;
  margin-left: -1px;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  position: absolute;
  top: 9px;
  right: 10px;
  background: #ff004c;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  z-index: 9999;
}

.modal-left {
  width: 40%;
  padding-right: 20px;
}

.modal-right {
  background: url("../../assets/images/portfolio/portmodal.svg") no-repeat
    center center/ contain;
  width: 78%;
  padding-left: 20px;
  position: relative;
}

.company-logo img {
  width: 150px;
  height: 100px;
  object-fit: contain;
}

.company-name,
.platform-name {
  margin: 15px 0;
  font-size: 18px;
  font-weight: bold;
}

.progress-chart {
  width: 80px;
  height: 80px;
  margin: 10px auto;
}

.progress-label .progress-text {
  font-size: 14px;
  margin: 5px 0;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #ff004c;
  border-radius: 50%;
  display: inline-block;
}

.final {
  background-color: #ff004c;
  max-width: 100px;
  border-radius: 5px;
}
.resolved {
  background-color: #00ff00;
  max-width: 100px;
  border-radius: 5px;
  text-align: center;

}
.open {
  background-color: #ffcc00;
  max-width: 100px;
  border-radius: 5px;
}
.acknowledged {
  background-color: #00ccff;
  max-width: 100px;
  border-radius: 5px;
}
.error-row .status {
  text-align: center;
  max-width: 132px;
  border-radius: 5px;
  color: #fff;

}
.severity{
  max-width: 100px;
  text-align: center;
  background-color: #ff004c;
  border-radius: 5px;
  color: #fff !important;
}
.error-table {
  width: 100%;
  margin: 20px 0;
}

.error-table th,
.error-table td {
  padding: 10px;
  text-align: left;
}

.severity.high {
  color: red;
}
.severity.medium {
  color: yellow;
}
.severity.low {
  color: green;
}
.status.completed {
  color: green;
}
.status.inprogress {
  color: orange;
}
.status.pending {
  color: red;
}

.modal-actions {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 10px;
  top: 86%;
  left: 27%;
  right: auto;
}

.request-btn,
.download-btn {
font-family: Arame-Bold; 
border:3px solid  #ff004c;
  background: transparent;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}
.company-description P {
  font-size: 13px;
}
.company-description {
  padding-top: 22px;
}
.progress-chart {
  width: 200px;
  height: 200px;
  margin: auto;
}
.modal-right .error-list {
  overflow-y: scroll;
  max-height: 192px;
  display: flex;
  flex-direction: column;
}

.error-row {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ffffff33;
  margin: 10px 10px;
  border-radius: 5px;
}

.severity {
  width: 20%;
}

.error-msg {
  width: 50%;
}

.status {
  width: 30%;
  text-align: right;
}

.severity.high {
  color: #fff;
  background-color: red;
  max-width: 100px;
  border-radius: 5px;
  text-align: center;
}

select#month-select {
  background: transparent;
  outline: none;
  border: none;
  padding-left: 10px;
  color: #fff;
}
select#month-select option {
  background: #444;
  outline: none !important;
  border: none !important;
  padding-left: 10px;
  color: #fff;
}
.status.redacted {
  color: #800080;
}

.month-selector {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .modal-content {
    flex-direction: column;
    width: 95%;
  }

  .modal-left,
  .modal-right {
    width: 100%;
    padding: 0;
    border: none;
    background: none;
  }

  .modal-right {
    margin-top: 20px;
  }
  .company-info{
    background: none;
  }
  .error-msg {
    font-size: 10px;
    width: 50%;
}
.error-row {
  font-size: 11px;
}
.modal-actions {
  position: relative;
  left: 0px;
}
.request-btn, .download-btn{
  font-size: 12px;
  padding: 7px 20px;
}
.company-description P {
  font-size: 11px;
}
.modal-overlay {
  position: absolute;
  top: 500px;
}
}
