.engagementmodel{
    padding: 1rem;
}

.engagementmodel h2{
    text-align: center;
    padding: 1rem;
 color: #F9116C ;
 font-size: 2rem;
}
.engagementmodel-boxes{
margin: 1rem;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 3rem;
}
.engagementmodel-box {
    background: url("../../assets/images/engagement/bg-box.svg") no-repeat center center / contain;
    border-radius: 0.5rem;
    padding: 39px 15px;
    padding-bottom: 10px;
    /* padding-top: 2rem; */
    min-height: 265px;
}
.engagementmodel-box:hover {
    background: url("../../assets/images/engagement/bg-hover.svg") no-repeat center center / contain;
    border-radius: 0.5rem;
    padding: 39px 15px;
    padding-bottom: 10px;
    /* padding-top: 2rem; */
    min-height: 239px;
}


.engagementmodel-box h3{
    font-size: 2rem;
    color: #fff;
    padding-bottom: 1rem;
}
.engagementmodel-box p {
    font-size: 14px;
    color: #fff;
}
.engagementmodel-yellow-box{
    margin: 2rem;
    /* padding: 2rem; */
    /* align-items: center; */
    background: url("../../assets/images/engagement/bg-cta.svg");
    background-size: contain; /* Ensures the image covers the entire element */
    background-position: center; 
    background-repeat: no-repeat; /* Prevents the image from repeating */
    min-height: 300px; /* Ensures at least full viewport height */
    width: 95%; /* Full width relative to the parent */
    display: flex; /* Enables content positioning */
    justify-content: center; /* Centers content horizontally */
align-items: center;
    position: relative; /* Ensures children are positioned relative to this container */
    color: black; /* Text color (adjust for contrast) */
    text-align: center; /* Align text in the center */
  
}
.content{
    z-index: 1; /* Ensures content is above the background image */
}
.engagementmodel-yellow-box h3{
    background: linear-gradient(272deg, #F96746 3.28%, #FFE500 56.57%, #C800C0 96.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   padding: 20px 50px;
    font-size: 2.5rem;
}
/* .engagementmodel-yellow-box h3 span{
    color: #F9116C;
    padding: 0rem 1rem 0rem 1rem;
} */



.engagementmodel-yellow-box  .btn-primary svg path {
    fill: #fff;
}
.engagementmodel-yellow-box .btn-primary {
    font-size: 1.5rem !important;
    padding: 2rem !important;
}

/* TABLET VERSION */
@media (max-width: 768px) {
    .engagementmodel h2 {
        margin-top: 1.5rem;
        font-size: 1.7rem;
        margin-bottom: 0.5rem;
        padding-bottom: 0px;
        color: #ff4081; /* Pink color for the title */
      }
    .engagementmodel-boxes {
        grid-template-columns: 1fr; /* Single-column layout for smaller screens */
        gap: 1.5rem; /* Reduced gap */
        padding: 4px;
        margin: 0px;
    }
    .engagementmodel-box{
        padding-top: 2rem;
    }
    .engagementmodel-box h3{
        font-size: 1.7rem;
    }
    .engagementmodel-box p{
        font-size: 1rem;
    }
    .engagementmodel{
        padding: 10px;
    }
    .engagementmodel-yellow-box {
      padding: 47px ;
      background: url(../../assets/images/Subtract.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 0;
        margin: auto;
        width: 98%;
    }

    .content {
        padding: 0.5rem;
    }
    .engagementmodel-yellow-box h3 {
        font-size: 14px;
        margin-bottom: 8px;
        padding: 0.3rem;
    }

    .engagementmodel-yellow-box h3 span {
        padding: 0 0.5rem;
    }

    .engagementmodel-yellow-box .btn-primary {
        font-size: 0.7rem !important;
        padding: 0.7rem !important;
        padding-right: 0.9rem !important;
        padding-left: 0.9rem !important;
    }
}


/* Mobile responsiveness */
@media (max-width: 445px) {
    .engagementmodel h2 {
        margin-top: 1.5rem;
        font-size: 1.7rem;
        margin-bottom: 0.5rem;
        padding-bottom: 0px;
        color: #ff4081; /* Pink color for the title */
      }
    .engagementmodel-boxes {
        grid-template-columns: 1fr; /* Single-column layout for smaller screens */
        gap: 1.5rem; /* Reduced gap */
        padding: 4px;
        margin: 0px;
    }
    .engagementmodel-box{
        padding-top: 2rem;
    }
    .engagementmodel-box h3{
        font-size: 1.7rem;
    }
    .engagementmodel-box p{
        padding-right: 15px;
        text-align: justify;
        font-size: 1rem;
    }
    .engagementmodel{
        padding: 10px;
    }
    .engagementmodel-yellow-box {
      padding: 13px 0px !important;
      background: url(../../assets/images/engagement/mob-bg-cta.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        /* width: 90%; */
        min-height: 0;
        margin: auto;
    }

    .engagementmodel-yellow-box .button-container button.btn.btn-primary {
        padding: 4px 13px !important;
    }

    .content {
        padding: 0.5rem;
    }
    .engagementmodel-yellow-box{
        width: 100%;
        padding: 0px;
        margin-top: -0.5rem;
    }

    .engagementmodel-yellow-box h3 {
        font-size: 14px;
        margin-bottom: 8px;
        padding: 0.3rem 20px;
    }

    .engagementmodel-yellow-box h3 span {
        padding: 0 0.5rem;
    }

    .engagementmodel-yellow-box .btn-primary {
        font-size: 0.7rem !important;
        padding: 0.7rem !important;
        padding-right: 0.9rem !important;
        padding-left: 0.9rem !important;
    }
}
@media (max-width:375px) {
   
}
