
.progress-bar {
  padding-left: 20px;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}
.company-info{
/* background: url('../../assets/images/portfolio/card-disc.svg')no-repeat center center / contain; */
background-color: PINK;
padding: 20px 0px;
flex-direction: column;
display: flex;
align-items: center;
}
.company-logo {
  height: 76px;
  display: flex;
  width: 200px;
  background-color: #383838;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.audit-progress .progress-bar::before {
  content: '';
  height: 10px;
  width: 10px;
  background-color: red;
  position: absolute;
  top: 8px;
  left: 40px;
  z-index: 9;
}
.audit-progress .progress-bar:nth-child(3)::before {
  background: #C70000;
}
.audit-progress .progress-bar:nth-child(4)::before {
  background: #FF5C00;

}
.audit-progress .progress-bar:nth-child(5)::before {
  background: #F2CE00;

}
.audit-progress .progress-bar:nth-child(6)::before {
  background: #00D22E;

}
  .progress-bar-label {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    margin-bottom: 4px;
    align-items: flex-start;
    text-align: left;
}
.progress-bar-label span {
  padding-left: 20px;
  justify-content: flex-start;
  width: 123px;
}
.progress-bar>span {
  width: 50px;
  text-align: end;
}
.progress-bar-container {
  width: 60%;
  background-color: #2a2a2a;
  border-radius: 8px;
  height: 12px;
}
  
  .progress-bar-fill {
    height: 100%;
    border-radius: 8px;
  }
  
  @media(max-width:445px){
    .company-info .chart-container canvas{
      max-height: 225px;
    }
    .modal-content {
      top: -270px;
    }

  }