.audit-process-container {
  background-color: #000; /* Black background */

  text-align: center;
  color: #fff;
  font-family: "Roboto Mono", monospace;
}

.audit-process-title {
  margin-top: 1.5rem;
  font-size: 32px;
  margin-bottom: 1rem;
  color: #ff4081; /* Pink color for the title */
}

.audit-process-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
  gap: 20px;
}

.audit-process-card {
  background-color: #1a1a1a; /* Dark gray background for cards */
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.audit-process-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff;
}

.audit-process-card p {
  font-size: 14px;
  color: #d3d3d3; /* Lighter gray for text */
}

.audit-process-card img {
  max-width: 80px;
  margin-bottom: 10px;
  position: relative;
  top: 0px;
}

.Preparatory.Stage {
    display: flex;
    padding: 2px;
    background: #53A5F8;
    width: 99px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.Manual.Examination {
    display: flex;
    padding: 2px;
    background: #FFD5A7;
    width: 99px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.Final.Audit.Report {
    display: flex;
    padding: 2px;
    background: #FFE345;
    width: 99px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.Testing.Automation {
    display: flex;
    padding: 2px;
    background: #fff;
    width: 99px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.Preliminary.Audit.Report{
    display: flex;
    padding: 2px;
    background: #FFA747;
    width: 99px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.Revisions{
    display: flex;
    padding: 2px;
    background: #FF0000;
    width: 99px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

@media (max-width:425px){
  .audit-process-title {
    margin-top: 1.5rem;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    color: #ff4081; /* Pink color for the title */
  }

}