.audit-process-container {
  background-color: #000; /* Black background */
  text-align: center;
  color: #fff;
  font-family: "Roboto Mono", monospace;
}

.audit-process-title {
  margin-top: 2rem;
  font-size: 32px;
  margin-bottom: 3rem;
  color: #F9116C;
}

.audit-process-grid {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 46px;
}

.audit-process-card {
  border: 1px solid #FFFFFF66;
  background-color: #1a1a1a;
  padding: 20px 90px 50px 20px;
  border-radius: 10px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.audit-process-card h3 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #fff;
}

.audit-process-card p {
  font-size: 14px;
  color: #d3d3d3; /* Lighter gray for text */
}

.audit-process-card img {
  max-width: 80px;
  margin-bottom: 10px;
  position: relative;
  top: 0px;
}

.Unveiling.Vulnerabilities {
    display: flex;
    padding: 2px;
    background: #53A5F8;
    width: 99px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.Scenario-Driven.Simulations{
    display: flex;
    padding: 2px;
    background: #FFD5A7;
    width: 99px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.Advanced.Automated.Tools{
    display: flex;
    padding: 2px;
    background: #FFE345;
    width: 99px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.Beyond.the.Code {
    display: flex;
    padding: 2px;
    background: #fff;
    width: 99px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.Human.Expertise.Meets.Technology{
    display: flex;
    padding: 2px;
    background: #FFA747;
    width: 99px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.Actionable.Insights{
    display: flex;
    padding: 2px;
    background: #FF0000;
    width: 99px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.audit-process-card h5 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 16px;
}



@media (max-width:425px){
  .audit-process-title {
    margin-top: 1.5rem;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    color: #ff4081; /* Pink color for the title */
  }

}