* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #000 !important;
}

ul.flex.space-x-4.justify-center.items-center {
  display: flex;
  gap: 50px;
}
.h3.font-weight-bold.logo {
  min-width: 183px;
  max-width: 183px;
}
.register-btn:hover {
  background: #ffd5a7;
  color: #f9116c !important;
}

.register-btn {
  border-radius: 10px;
  color: #f9116c !important;
  text-align: center;
  letter-spacing: 1px;
  font-size: 19px;
  font-weight: 700;
  padding: 12px 35px;
  background: #ffd5a7 !important;
  font-family: "Arame-Bold" !important; 
  padding-top: 5px ;

}

.nav {
  gap: 0px 30px;
}

header .nav-link {
  border-bottom: 1px solid #000;
  color: #fff;
  font-family: 'Arame-Thin';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 0 0 8px;
  transition: .2s ease-in;
}

header .nav-item .nav-link:hover {
  color: #f9116c !important;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
}

/* Mobile Menu */
.mobile-nav {
  background-color: #000;
  padding: 10px 20px;
}

.mobile-nav .nav-link {
  color: #fff;
  font-size: 18px;
  padding: 10px 0;
}
a.btn.register-btn.d-none.d-md-inline-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
.mobile-nav .register-btn {
  width: 100%;
  margin-top: 15px;
}
.mobile-btn{
  display: none !important;
}
.logo{
  width: 28%;
  min-width: 285px;
}
.h3.font-weight-bold.logo img {
  max-width: 249px;
}
button.open-popup-btn.btn.register-btn.text-white {
  background-color: #F9116C !important;
  color: #fff !important;
}
/* Dropdown Menu Styling */
.dropdown-menu {
  position: absolute !important;
  top: 40px;
  left: 0;
  display: block !important; /* Ensure it's visible */
  background-color: #D9D9D91A !important;
  z-index: 1050; /* Higher than other elements */
  padding: 10px 5px !important;
  border: 1px solid #fff !important;
  min-width: 240px !important;

}


.dropdown-item {
  color: #fff !important;
  padding: 8px 12px !important;
  text-decoration: none;
  display: block;
  margin-top: 0px !important;
  
}

.dropdown-item:hover {
color: #fff !important;
border-radius: 5px;
background-color: #F9116C !important;
}

.dropdown-menu a{
  font-family: 'Arame-Thin';
  font-size: 14px;

}
.new-sub-menu{
  left: 240px;
}
a.nav-link.text-white {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.dropdown-menu{
  padding: 10px  20px;
  box-shadow: -27.37px 27.37px 27.37px 0px #A5A5A51A inset;
backdrop-filter: blur(67.86933135986328px);
border-radius:10px;
background-color: #ffd5a7;
}
.nav-link span img {
  transform: scale(0.7);
  padding-top: 12px;
}
ul.dropdown-menu.sub-menu {
  top: -10px;
  left: 236px;
  display: none;
  padding: 5px 10px !important;
}

/* Show dropdown on hover */
.nav-item.dropdown:hover > .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Show sub-menu on hover */
.dropdown-item:hover > .sub-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Hide sub-menu by default */
.dropdown-menu, .sub-menu {
  display: none;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

/* Position sub-menu correctly */
.sub-menu {
  top: 0;
  left: 100%;
  margin-top: -1px; /* Adjust as necessary */
}


ul.dropdown-menu.sub-menu a.dropdown-item{
  width: 90px;
  height: 90px;
  border-radius: 15px ;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #D9D9D91A;
  box-shadow: -27.37px 27.37px 27.37px 0px #A5A5A51A inset;
box-shadow: 27.37px -27.37px 27.37px 0px #A5A5A51A inset;
backdrop-filter: blur(67.86933135986328px);
border: 1px solid #fff;
gap: 0px 10px;

}

ul.dropdown-menu.sub-menu.submenu-services li:nth-child(2) {
  margin-top: 41px !important;
  padding: 0px !important;
}
ul.dropdown-menu.sub-menu.submenu-services li:nth-child(3) {
  margin-top: 41px !important;
}
ul.dropdown-menu.sub-menu.submenu-services li:nth-child(4) {
  margin-top: 41px !important;
}
ul.dropdown-menu.sub-menu.submenu-services li:nth-child(5) {
  margin-top: 41px !important;
}
ul.dropdown-menu.sub-menu.submenu-services li {
  margin-top: 0px !important;
  padding: 0px !important;
}

ul.dropdown-menu.sub-menu {
  min-width: 500px !important;
  height: 520px;
  display: flex !important;
  flex-wrap: wrap;
  gap: 0px 25px;
  background: #D9D9D91A;
  transition: 2s ease-in;
box-shadow: 27.37px -27.37px 332.37px 2px #fcfcfc47 inset;
backdrop-filter: blur(67.86933135986328px)

}
ul.dropdown-menu.sub-menu.submenu-services{
  height: 375px;
}

a.dropdown-item img {
  min-width: 48px;
  max-width: 48px;
}

span.dropdown-header {
  position: absolute;
}

ul.dropdown-menu.sub-menu li{
  height: 90px;
}

ul.dropdown-menu.sub-menu li {
  padding-top: 40px !important;
  padding-top: 38px;
}
.submenu-services{
  position: absolute;
  top: 200px;
}
ul.dropdown-menu.sub-menu.submenu-services {
  border: none !important;
  top: 146px;
  backdrop-filter: none !important;
  background: none !important;
  box-shadow: none !important;
}
/* Responsive Design */
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
  }

  .h3 {
    font-size: 1.5rem;
  }

  nav {
    margin-top: 10px;
    display: block;
    text-align: center;
  }

  .nav {
    flex-direction: column;
    gap: 20px;
  }

  .nav-link {
    font-size: 18px;
  }

  .register-btn {
    margin-top: 20px;
    display: block;
    width: 100%;
    text-align: center;
  }
  .desktop-btn-request {
    float: right;
    margin-right: -233px;
}
li.nav-item {
  max-width: 238px;
}
ul.nav.flex-column {
  gap: 0px 0px;
  justify-content: center;
  flex-direction: column !important;
  align-items: center;
  height: auto;
}
.mobile-nav{
  margin-top: 0px;
  padding-top: 0px;
}
.mobile-nav ul .nav-item:last-child {
display: none;
}
}
@media (max-width: 576px) {
  .h3 {
    font-size: 1.2rem;
  }

  .nav-link {
    font-size: 16px;
  }

  .register-btn {
    font-size: 16px;
    padding: 10px 30px;
  }
}

@media (max-width:768px) {
  header.text-white.p-3 {
    display: flex;
}
.container.d-flex.justify-content-between.align-items-center.p-0 {
  flex-direction: row;
}
a.btn.register-btn.mobile-btn.text-white {
  margin-top: 0px;
max-width: max-content;
  display: flex !important;
  justify-content: center;
  align-items: self-start;
  padding: 4px 16px;
  padding-top: 1px;
  font-size: 13px;
  min-height: 38px;
  line-height: 26px;
}
header.text-white.p-3 {
  display: flex;
  flex-direction: column;
}
.heading {
  text-align: left;
  color: #fff;
  font-size: 20px;
}
.hero-wrapper p {
  max-width: 80%;
  font-size: 12px;
  line-height: 27px;
  letter-spacing: 2.15px !important;
  margin: 0px;
}
.left-box, .right-box {
padding-top: 20px;
}
.hero-wrapper .row.align-items-center.py-5 {
  padding-bottom: 0px !important;
}
button.btn.btn-primary {
  padding: 18px 17px;

}
button.btn.btn-primary span {
  transform: scale(0.8);
  padding-left: 15px;
}
a.btn.register-btn.d-none.desktop-btn.d-md-inline-block {
  display: none !important;
}
a.btn.register-btn.mobile-btn.text-white{
  margin-left: 50%;
}
a.btn.register-btn.text-white {
  margin: 0px;
  padding-top: 5px;
  max-width: 178px;
  font-size: 11px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 12px 15px;
}
.logo {
  min-width: auto;
}
}
@media (max-width:425px) {
  header.text-white.p-3 {
    display: flex;
}
.container.d-flex.justify-content-between.align-items-center.p-0 {
  flex-direction: row;
}
a.btn.register-btn.mobile-btn.text-white {
  margin-top: 0px;
max-width: max-content;
  display: flex !important;
  justify-content: center;
  align-items: self-start;
  padding: 4px 16px;
  padding-top: 1px;
  font-size: 13px;
  min-height: 38px;
  line-height: 26px;


}
header.text-white.p-3 {
  display: flex;
  flex-direction: column;
}
.heading {
  text-align: left;
  color: #fff;
  font-size: 20px;
}
.hero-wrapper p {
  max-width: 80%;
  font-size: 12px;
  line-height: 27px;
  letter-spacing: 2.15px !important;
  margin: 0px;
}
.left-box, .right-box {
padding-top: 20px;
}
.hero-wrapper .row.align-items-center.py-5 {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
button.btn.btn-primary {
  padding: 18px 17px;

}
button.btn.btn-primary span {
  transform: scale(0.8);
  padding-left: 15px;
}
a.btn.register-btn.mobile-btn.text-white{
  margin-left: 0px;
}
.desktop-btn-request button.open-popup-btn.btn.register-btn.text-white {
  display: none;
}
.mobile-nav ul .nav-item:last-child {
  display: inline-block;
  }

  .dropdown-menu {
    position: relative !important;
    top: 0px !important;
  }

}