button.btn.btn-primary {
    padding: 15px 13px;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-image: url(../../assets/images/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    color: #FFF;
    font-family: "RobotoMono-regular";
   
    font-style: normal;
    font-weight: 700;
    text-align: center;
}
button.btn.btn-primary span {
    padding-left: 7px;
}
button.btn.btn-primary svg {
    width: 17px;
    margin-left: 0px;
}
