/* AuditSection.css */
.audit-section {
    padding: 40px 0px;
    background-color: #000;
    color: #fff;
    text-align: center;
  }
  
  .audit-section-title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .highlight {
    color: #F9116C;
  }
  .audit-section-description {
    max-width: 50%;
    margin-bottom: 40px;
    font-size: 16px;
    color: #999;
    margin: 0 auto;
}
  
  .audit-content {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .audit-details {
    display: flex;
    min-height: 287px;
    width: 48.5%;
    text-align: left;
    background: url(../../assets/images/portfolio/card-sc-bg.png) no-repeat center center / contain;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 29px;
    flex-direction: column;
}
 
.audit-content .audit-progress {
  /* margin: 28px !important; */
  min-height: 290px;
  width: 45%;
  text-align: left;
  background: url(../../assets/images/portfolio/card-sc-2.png) no-repeat center center / contain;
  /* border: 2px solid white; */
  border-radius: 10px;
  padding: 0px 29px;
    padding: 34px 0px;
    width: 50%;
    text-align: left;
}
  
  .audit-details h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .audit-details p {
    font-size: 16px;
    color: #ccc;
    margin-bottom: 20px;
  }
  
  .contact-btn {
    background-color: #F9116C;
    color: white;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-btn:hover {
    background-color: #ff3366;
  }

  
.audit-progress h4 {
  padding-left: 40px;
  font-size: 18px;
  margin-bottom: 10px;
}
