.coin-text{
 color: #FFF;
text-align: center;
font-family: "RobotoMono-regular";
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.text-icon {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px 100px;
    flex-wrap: wrap;
}
.image-text-section {
    object-fit: cover;
    display: flex;
    max-width: 17%;
    justify-content: center;
}

 