.header-container {
    padding-left: 20vw;
    float: right;
    max-height: 10vh;
    width: 100%;
}
.header-wrap{
    background: #000;
}
.search-box {
border: 1px solid #ffffff8f !important;
margin-bottom: 10px;
padding: 0px 5px !important;
}
.search-box input{
    padding: 4px 0px;
}