.header-container {
    padding-left: 20vw;
    float: right;
    max-height: 10vh;
    width: 100%;
}
.header-wrap{
    background: #000;
}
.search-box {
border: 1px solid #ffffff8f !important;
margin-bottom: 10px;
padding: 0px 5px !important;
}
.search-box input{
    padding: 4px 0px;
}
.header-container .username{
    display: block;
}
.header-container .usericon{
    display: block;
}



@media (max-width:1024px){
    .header-container {
        padding-left: 0px;
        float: right;
        max-height: 16vh;
        width: 100%;
    }
    .layout-wrapper.p-8.bg-gray-900.flex-1{
        padding: 0px;
    }
    .dashboard-table-container .portfolio-table-container {
        min-height: 777px !important;
        min-width: 101%;
    }
}
@media (max-width:768px){

    .dashboard-table-container .portfolio-table-container {
        min-height: 406px !important;
        min-width: 101%;
        background: auto !important;
    }  
    .header-container .username{
        display: block;
    }
    .header-container .usericon{
        display: block;
    }
}
@media (max-width:426px){


    .header-container .username{
        display: none;
    }
    
    .header-container .usericon{
        display: none;
    }
}
@media (max-width:375px){


    .header-container .username{
        display: none;
    }
    .header-container .usericon{
        display: none;
    }
}