.faq-btn{
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
    border: 1px solid #c9c9c9c9 !important;
}
.faq-btn button{
    background-color: #D9D9D91A;
}
.faq-btn button span{
    color: #F9116C;
    font-size: 24px;
    font-family: Arvo-Regular;
}
.answer {
    background-color: #D9D9D91A;
    font-size: 15px;
    font-family: 'RobotoMono-Regular';
}
.faq-btn button span img{
    max-width: 10px;
    min-width: 20px;
    height: 20px;
}
.faq-container h2{
    color: #F9116C;
 font-size: 40px;
 padding: 80px 0px;
}
/* Default: Show desktop arrow and hide mobile arrow */
.desktop-arrow {
    display: block;
  }
  
  .mobile-arrow {
    display: none;
  }
  
  /* Mobile: Show mobile arrow and hide desktop arrow */
  @media (max-width: 768px) {
     
    .faq-container h2 {
        font-size: 1.7rem;
        color: #ff4081; /* Pink color for the title */
        margin-bottom: 0px;
      }
    .desktop-arrow {
      display: none;
    }
    .mobile-arrow {
      display: block;
    }
    .faq-container h2{
        color: #F9116C;
        font-size: 1.5rem;
        padding: 0px;
        padding-bottom: 20px;
    }
    .faq-btn button span{
        font-size: 0.9rem;
        padding: 2px;
        padding-left: 14px;
        margin: 2px;
    }
    .faq-btn button {
        padding: 4px !important;
    }
    .faq-btn {
       min-width: 100% ;
       /* height: 10vh; */
    }
    .faq-btn button span img{
        min-width: 12px;
        height: 12px;
    }
    .answer {
        background-color: #D9D9D91A;
        font-size: 11px;
        font-family: 'RobotoMono-Regular';
        padding-top: 2px !important;
    }
  }
  