.heading{
    text-align: center;
    color: #fff;
    font-size: 38px;
}
.heading span{
    
    color:#F9116C ;
}
.left-box{
    background: url(../../assets/images/left-box.svg) no-repeat center right / contain;
max-width:600px ;
}

.right-box{
    background: url(../../assets/images/right-box.svg) no-repeat center left / contain;
max-width: 600px;
}
.hero-wrapper p {
    max-width: 70%;
    color: #FFF;
    text-align: justify;
    font-family: RobotoMono-regular;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 1.15px !important;
    margin: 0 auto;
    margin-bottom: 18px;
}
.left-box,.right-box{
    width:100%;
    min-height: 100vh;
position: relative;
}

.right-box{
    margin-left: 0px;
}

.gif-video {
    left: 50px;
    transform: scale(2);
    position: absolute;
    z-index: 99;
    max-width: 380px;
   
}
.right-box {
    overflow: hidden;
    position: relative;
    justify-content: flex-start;
    display: flex;
    margin-left: 0px;
    justify-content: center;
    align-items: center;
}

.hero-wrapper .row.align-items-center.py-5 {
    padding: 0px !important;
    justify-content: center;
}
@media (max-width:768px) {
    .heading {
        text-align: left;
        color: #fff;
        font-size: 30px;
    }
    
    .hero-wrapper p {
        max-width: 80%;
        font-size: 12px;
        line-height: 27px;
        letter-spacing: 2.15px !important;
        margin: 0px;
    }
    .left-box, .right-box {
        width: 100%;
        height: auto;
        position: relative;
    }
    .gif-video {
        left: 20px;
        max-width: 294px;
        position: absolute;
        transform: scale(2);
        z-index: 99;
    }
}
@media (max-width:430px) {
    .heading {
        text-align: left;
        color: #fff;
        font-size: 20px;
    }
    .hero-wrapper p {
        max-width: 80%;
        font-size: 12px;
        line-height: 27px;
        letter-spacing: 2.15px !important;
        margin: 0px;
    }
    .left-box, .right-box {
        min-width: 348px;
        width: 100%;
        height: 363px;
        max-height: 363px;
    }
    .py-5.sm-py-2 {
        padding-bottom: 0px !important;
    }
    .gif-video {
        position: absolute;
        z-index: 99;
        max-width: 315px;
        left: 10px;
    }
    .hero-wrapper py-5 sm-py-2 {
        padding-top: 0px !important;
    }
    .hero-wrapper-sub{
        padding-top: 0px  !important;
    }
    .left-box, .right-box{
        min-height: 65vh;
    }
}