

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    max-width: 100%;
  }
  @font-face {
    font-family:"Arame-Bold" ;
    src: url("../../assets/Fonts/Arame-Bold.ttf");
  }
  
  @font-face {
    font-family: 'Arame-Thin';
    src: url('../../assets/Fonts/Arame-Thin.ttf')  ;
  }
  
  @font-face {
    font-family: 'RobotoMono-Regular';
    src: url('../../assets/Fonts/RobotoMono-Regular.ttf')  ;
  }
  
  @font-face {
    font-family: 'RobotoMono-Bold';
    src: url('../../assets/Fonts/RobotoMono-Bold.ttf')  ;
  }
  
  @font-face {
    font-family: 'RobotoMono-Italic';
    src: url('../../assets/Fonts/RobotoMono-Italic.ttf')  ;
  }
  
  
  
  @font-face {
    font-family: 'Arvo-Regular';
    src: url('../../assets/Fonts/Arvo-Regular.ttf')  ;
  }
  
  @font-face {
    font-family: 'Arvo-Bold';
    src: url('../../assets/Fonts/Arvo-Bold.ttf')  ;
  }
  
  @font-face {
    font-family: 'Arvo-Italic';
    src: url('../../assets/Fonts/Arvo-Italic.ttf')  ;
  }
  

.container-fluid{
    padding: 0px ;
  }
  body{
    background-color: #000;
  }
  h1,h2,h3,h4,h5,h6{
    font-family: Arvo-Bold;
  }
  p{
    font-family: RobotoMono-Regular;
  }
  .btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .heading-h1{
  color:#F9116C;
  }
  button.splide__arrow.splide__arrow--prev {
    display: none;
  }
  button.splide__arrow.splide__arrow--next {
    display: none;
  }
  .case-study-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
  button.twit-x img {
    max-width: 23px !important;
  }
  .view-more button {
    padding: 4px 12px !important;
    font-size: 16px !important;
    line-height: 24px;
    font-family: 'RobotoMono-Regular' !important;
  }

.portfolio-container .btn-primary {
  padding: 4px 13px !important;
  margin-top: 50px !important;
}
.homapage-prtfolio .portfolio-table-container {
  max-height: 550px;
  min-height: 595px !important;
  border: 1px solid #F9116C;
  background: none;
}
.homapage-prtfolio .portfolio-title{
padding: 48px 0px;
}
.case-study-wrapper .btn-primary {
  margin: 40px auto !important;
  padding: 5px 12px !important;
}

  @media (max-width:430px) {
    h1.text-center.py-5.pb-4.heading-h1 {
      padding-top: 0px !important;
      padding-bottom: 20px !important;
  }
  .portfolio-container{
    margin-bottom: 50px;
  }
  
  .why-sec-choose{
    margin-top: 40px;
  }

  .homapage-prtfolio .portfolio-table-container {
    max-height: 750px;
    min-height: 700px !important;
    border: none;
    background: none;
  }
  .homapage-prtfolio .btn-primary {
    padding: 4px 13px !important;
    margin-top: 59px !important;
}
.homapage-prtfolio .pagination {
  bottom: -40px;
}
  }